  
  .textPrimary {
    color: var(--primary-color);
  }
  
  .btnPrimary {
    background-color: var(--primary-color);
  }
  
  .formControl {
    background-color: #e5e5e5 !important;
    position: relative;
    outline: none;
    padding: 13px 15px;
    border-radius: 25px;
    color: var(--primary-color) !important;
  }
  
  .formControl:focus {
    color: #212529a8;
    background-color: #fff;
    border: 1.8px solid var(--primary-color);
    outline: 0;
    box-shadow: unset;
  }
  
  .myControl {
    background-color: white !important;
    position: relative;
    outline: none;
    padding: 13px 15px;
    border: 1.8px solid var(--primary-color);
    color: var(--primary-color) !important;
  }
  
  .formGroup span {
    color: #707070;
    position: absolute;
    font-size: small;
    right: 35px;
    display: none;
  }
  
  .formGroup label {
    color: #072c47;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .formGroup {
    margin-bottom: 30px;
  }
  
  .formCheckInputChecked:checked {
    background-color: #707070;
    border-color: #707070;
  }
  
  .linkPrimary {
    color: var(--primary-color) !important;
    text-decoration: none;
  }
  
  .formGroup .phonecode {
    color: var(--primary-color);
  }
  
 
  .myControl::placeholder {
    color: #3d3d3dda;
    opacity: 1;
  }
  
  .body {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .line {
    content: "";
    width: 0;
    height: 2px;
    background-color: blue;
    margin-top: 8px;
    animation: expandWidth 2s linear infinite;
    animation-delay: 2s;
  }
  
  @keyframes expandWidth {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .imageStart {
    width: 200px;
    animation: scaleUp 2s linear;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(0); /* Start at 0% of original size */
    }
    100% {
      transform: scale(1); /* Scale to full size */
    }
  }
  
  .submitButton {
    border-radius: 25px;
    width: 100% !important;
    padding: 10px 10px;
    font-size: large;
  }
  